################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/build
/debug
/release
/.qtc_clangd
/CMakeLists.txt
/CMakeLists.txt.user